<div class="nk-sidebar-element">
    <div class="nk-sidebar-content">
        <div class="nk-sidebar-menu">
            <ul class="nk-menu">
                <li class="nk-menu-item">
                    <a href="" class="nk-menu-link">
                        <span class="nk-menu-icon">
                            <em class="icon ni ni-home-fill"></em>
                        </span>
                        <span class="nk-menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="nk-menu-item has-sub ">
                    <a href="#" class="nk-menu-link nk-menu-toggle">
                        <span class="nk-menu-icon">
                            <em class="icon ni ni-users-fill"></em>
                        </span>
                        <span class="nk-menu-text">User Manage</span>
                    </a>
                    <ul class="nk-menu-sub" style="display: block;">
                        <li class="nk-menu-item ">
                            <a href="/demo2/user-list-default.html" class="nk-menu-link">
                                <span class="nk-menu-text">User List - Default</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a href="/demo2/user-list-regular.html" class="nk-menu-link">
                                <span class="nk-menu-text">User List - Regular</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nk-menu-item has-sub ">
                    <a href="#" class="nk-menu-link nk-menu-toggle">
                        <span class="nk-menu-icon">
                            <em class="icon ni ni-user-list-fill"></em>
                        </span>
                        <span class="nk-menu-text">Customers</span>
                    </a>
                    <ul class="nk-menu-sub" style="display: none;">
                        <li class="nk-menu-item">
                            <a href="/demo2/customer-list.html" class="nk-menu-link">
                                <span class="nk-menu-text">Customer List</span>
                            </a>
                        </li>
                        <li class="nk-menu-item ">
                            <a href="/demo2/customer-details.html" class="nk-menu-link">
                                <span class="nk-menu-text">Customer Details</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nk-menu-item has-sub ">
                    <a href="#" class="nk-menu-link nk-menu-toggle">
                        <span class="nk-menu-icon">
                            <em class="icon ni ni-cc-alt2-fill"></em>
                        </span>
                        <span class="nk-menu-text">Orders</span>
                    </a>
                    <ul class="nk-menu-sub" style="display: none;">
                        <li class="nk-menu-item ">
                            <a href="/demo2/orders-default.html" class="nk-menu-link">
                                <span class="nk-menu-text">Order List - Default</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a href="/demo2/orders-regular.html" class="nk-menu-link">
                                <span class="nk-menu-text">Order List - Regular</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a href="/demo2/orders-sales.html" class="nk-menu-link">
                                <span class="nk-menu-text">Order List - Sales</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nk-menu-item has-sub ">
                    <a href="#" class="nk-menu-link nk-menu-toggle">
                        <span class="nk-menu-icon">
                            <em class="icon ni ni-file-docs"></em>
                        </span>
                        <span class="nk-menu-text">Invoice</span>
                    </a>
                    <ul class="nk-menu-sub" style="display: block;">
                        <li class="nk-menu-item ">
                            <a href="/demo2/invoice-list.html" class="nk-menu-link">
                                <span class="nk-menu-text">Invoice List</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a href="/demo2/invoice-details.html" class="nk-menu-link">
                                <span class="nk-menu-text">Invoice Details</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nk-menu-item has-sub">
                    <a href="#" class="nk-menu-link nk-menu-toggle">
                        <span class="nk-menu-icon">
                            <em class="icon ni ni-card-view"></em>
                        </span>
                        <span class="nk-menu-text">Products</span>
                    </a>
                    <ul class="nk-menu-sub">
                        <li class="nk-menu-item">
                            <a href="/demo2/product-list.html" class="nk-menu-link">
                                <span class="nk-menu-text">Product List</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a href="/demo2/product-card.html" class="nk-menu-link">
                                <span class="nk-menu-text">Product Card</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a href="/demo2/product-details.html" class="nk-menu-link">
                                <span class="nk-menu-text">Product Details</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>